#chapters {
   position: absolute;
   left: 0px;
   
}

#chapters > .chapters_bar {
   z-index: 0;
}

#chapters .left_arrow,
#chapters .right_arrow {
    -webkit-transition: 500ms;
	z-index: 100;
}

#chapters .left_arrow {
   position: absolute;
   left: 63px;
   top: 402px;
}

#chapters .right_arrow {
   position: absolute;
   left: 1190px;
   top: 402px;
}

#chapters .close {
   position: absolute;
   left: 1161px;
   top: 204px;
}

#chapters .chapter {
   position: absolute;
   left: 486px;
   top: 299px;
}

#chapters .chapter_bar {
   position: absolute;
   left: 0px;
   top: 268px;
}

.chapters-swiper-container {
	/* Specify Swiper's Size: */
        top: 300px;
        left: 150px;
	width: 1000px;
	height: 250px;
        
}
